#body{

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.sliderSupp{

    height: 5em;
    width: 83em;

    background-color: brown;

    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.75);

    border-radius: 0.5em 0.5em 0.5em 0.5em;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  
}

a{
    color:black;
 } 
.carta{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";

}

a:link {
    color: rgb(255, 255, 255);
} 

a:hover {
    color: rgb(0, 0, 0);
}

.menu{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";
}

.nosotros{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";

}

.pagCentral{

    height: 5em;
    width: 82em;

    margin-top: 0.5em;
    padding: 0.5em;

    background-color: rgba(103, 1, 255, 0.26);

    

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}

.entrantes{

    color: rgb(44, 43, 43);
    font-size: 1.5em;
    font-family: "Palatino";

}

.primerPlato{

    color: rgb(44, 43, 43);
    font-size: 1.5em;
    font-family: "Palatino";

}

.segundoPlato{

    color: rgb(44, 43, 43);
    font-size: 1.5em;
    font-family: "Palatino";

}

.platosEntrantes{

    margin-top: 0.5em;
    padding: 0.5em;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    margin-left: 6em;
}

.primerPlatos{

    margin-top: 0.5em;
    padding: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: 4em; */
    margin-top: -24em;

}

.segundoPlatos{

    margin-top: 0.5em;
    padding: 0.5em;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 6em;
    margin-top: -24em;

}