body{

    height: 100vh;
}
header{

    background-color: brown;
    border-radius: 0.5em;

    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;

    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.75);

}

.logo{

    padding: 0.5em;
    padding-left: 5em;    
    z-index: 999;

    display: block;
   
}

.navegar{

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navegar a{

    background-color: brown;
    border :10px solid brown;

    color: black;
    text-decoration: double;
    font-weight: bold;
       
}

.navegar a:hover{

    background-color: rgb(166, 111, 111);

    border :10px solid rgb(166, 111, 111);
    border-radius: 10px;
    
}

.titulos{

    margin-left: 0.5%;
    padding: 1%;

}

.bloque h2{

    text-align: center;
    position: relative;
    top: 0;    

    background-color: rgba(103, 1, 255, 0.26);
    
}

ul{
    
    display: block;
    position: relative;
    text-align: center;
        
}
ul li{

    margin-bottom: 1em;
}

.card{

    padding: 1em;
    margin: 1em;
}

.mig{

    margin-top: 2em;
}
.maps{

    width: 400px;
    height: 250px;

    margin-right: 2em;
    margin-top: 2em;
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, 5px 0px 0px 5px #000000, -5px 0px 0px 5px #000000, 0px -5px 0px 5px #000000, 0px 5px 0px 5px #000000, 0px 5px 0px 5px #000000;
}

footer{

   position: relative;
    display:block; 
   bottom: 0 !important;
   margin-top:  7.5em !important;
   width: 98% !important;
   
   background-color: rgba(103, 1, 255, 0.26);

   border-radius: 0.5em 0.5em 0em 0em;
   box-shadow: 0px -10px 2px 0px rgba(0,0,0,0.75);

}