#body{

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.sliderSupp{

    height: 5em;
    width: 83em;

    background-color: brown;

    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.75);

    border-radius: 0.5em 0.5em 0.5em 0.5em;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  
}

.carta{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";

}

a:link {
    color: rgb(255, 255, 255);
} 

a:hover {
    color: rgb(0, 0, 0);
}

.menu{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";
}

.nosotros{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";

}

.bloqueCentral{

    height: 25em;
    width: 83em;

    margin-top: 5em;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}



.parteIz{

    height: 25em;
    width: 27.7em;

    

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.parteCentro{


    height: 25em;
    width: 27.7em;

    margin: 0.5em;
    margin-top: 6em;

    font-family: oblique;
    font-size: 1.2em;
   

}

.parteDr{

    height: 25em;
    width: 27.7em;


    

    display: flex;
    justify-content: center;
    align-items: center;

}
.marcoMaps{

    width: 400px;
    height: 250px;

    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 0px 0px 5px #000000, -5px 0px 0px 5px #000000, 0px -5px 0px 5px #000000, 0px 5px 0px 5px #000000, 0px 5px 0px 5px #000000;
}