#body{

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.sliderSupp{

    height: 5em;
    width: 83em;

    background-color: brown;

    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.75);

    border-radius: 0.5em 0.5em 0.5em 0.5em;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  
}

.carta{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";

}

a:link {
    color: rgb(255, 255, 255);
} 

a:hover {
    color: rgb(0, 0, 0);
}

.menu{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";
}

.nosotros{

    color: aliceblue;
    font-size: 1.5em;
    font-family: "Palatino";

}

.pagCentral{

    height: 32em;
    width: 82em;

    margin-top: 0.5em;
    padding: 0.5em;

    background-color: rgb(103, 1, 255);

    

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}

.blockIzquierda{

    height: 25em;
    width: 25em;

    margin: 0.2em;
    padding: 0.2em;

    background-color: rgb(31, 255, 1);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.ofertas{

    height: 1em;
    width: 12.7em;

   /* margin-top: 1em; */

    color: aliceblue;
    font-size: 2em;
    font-family: "Palatino";

    background-color: rgb(28, 85, 20);
}

.imagenDia{

    height: 32em;
    width: 25em;

        background-color: rgba(255, 255, 255, 0);

    display: flex;
    justify-content: center;
    align-items: center;

}

img {

    margin-top: 2em;
    height: 20em;
    width: 24em; 
    
}

.blockCenter{

    height: 25em;
    width: 25em;

    margin: 0.2em;
    padding: 0.2em;

    background-color: rgb(31, 255, 1);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.destacado{

    height: 1em;
    width: 12.7em;

   /* margin-top: 1em; */

    color: aliceblue;
    font-size: 2em;
    font-family: "Palatino";

    background-color: rgb(28, 85, 20);
}

.imagenPlato{

    height: 32em;
    width: 25em;

    display: flex;
    justify-content: center;
    align-items: center;

}

img {

    margin-top: 2em;
    height: 20em;
    width: 24em; 
    
}

.blockDerecha{

    height: 25em;
    width: 25em;

    margin: 0.2em;
    padding: 0.2em;

    background-color: rgb(31, 255, 1);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.complementos{

    height: 1em;
    width: 12.7em;

   /* margin-top: 1em; */

    color: aliceblue;
    font-size: 2em;
    font-family: "Palatino";

    background-color: rgb(28, 85, 20);
}

.imagenComple{

    height: 32em;
    width: 25em;

    display: flex;
    justify-content: center;
    align-items: center;

}

img {

    margin-top: 2em;
    height: 20em;
    width: 24em; 
    
}

#pagInf{

    height: 5em;
    width: 83em;

    background-color: rgb(103, 1, 255);

    border-radius: 0em 0em 0.5em 0.5em;
    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.75);
}
